.intenrship{
    display:flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap:20px;
    padding:20px 10px;
    justify-content: space-between;
}
.Internship_Description{
  display: none;
}

.internship_card:hover {
color: white;
background-color: rgb(0, 0, 0);

transition-delay: 0.2s;
}
.internship_card{
  width: min(100%,360px);
}
.Internship_Description:hover{
  display: block;
}

@media (max-width: 800px) {
    .intenrship {
      flex-direction: column;
      gap:10px
    }
   
}