.items{
    width: 50%;
}
.project_bar:hover{
    background-color: crimson;
    color: white;
}

@media (max-width: 800px) {
    .project {
      flex-direction: column;
    }
    .items{
        width: 100%;
        margin-top: 10px;
    }
}